<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171444189304-fomo4te08mpvpi2t07n482rhp2a159an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171444189304-fomo4te08mpvpi2t07n482rhp2a159an</string>
	<key>API_KEY</key>
	<string>AIzaSyBoz6ZlDj5HZR0btAPHCnl-wBqdH0W81Og</string>
	<key>GCM_SENDER_ID</key>
	<string>171444189304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dany.Beayty-Addict</string>
	<key>PROJECT_ID</key>
	<string>beauty-addict-f0baa</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-addict-f0baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171444189304:ios:cadb7788c2acc447</string>
	<key>DATABASE_URL</key>
	<string>https://beauty-addict-f0baa.firebaseio.com</string>
</dict>
</plist>